@page
@model Projekt_Dotnet.Pages.harmonogram.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Harmonogram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Harmonogram.Id" />
            <div class="form-group">
                <label asp-for="Harmonogram.HowManyDays" class="control-label"></label>
                <input asp-for="Harmonogram.HowManyDays" class="form-control" />
                <span asp-validation-for="Harmonogram.HowManyDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harmonogram.HowManyHours" class="control-label"></label>
                <input asp-for="Harmonogram.HowManyHours" class="form-control" />
                <span asp-validation-for="Harmonogram.HowManyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harmonogram.People" class="control-label"></label>
                <input asp-for="Harmonogram.People" class="form-control" />
                <span asp-validation-for="Harmonogram.People" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harmonogram.Duties" class="control-label"></label>
                <input asp-for="Harmonogram.Duties" class="form-control" />
                <span asp-validation-for="Harmonogram.Duties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
