@page
@model Projekt_Dotnet.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ogloszenie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ogloszenie.ID" />
            <div class="form-group">
                <label asp-for="Ogloszenie.gatunek" class="control-label"></label>
                <input asp-for="Ogloszenie.gatunek" class="form-control" />
                <span asp-validation-for="Ogloszenie.gatunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.rasa" class="control-label"></label>
                <input asp-for="Ogloszenie.rasa" class="form-control" />
                <span asp-validation-for="Ogloszenie.rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.imie" class="control-label"></label>
                <input asp-for="Ogloszenie.imie" class="form-control" />
                <span asp-validation-for="Ogloszenie.imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.wiek" class="control-label"></label>
                <input asp-for="Ogloszenie.wiek" class="form-control" />
                <span asp-validation-for="Ogloszenie.wiek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.opis" class="control-label"></label>
                <input asp-for="Ogloszenie.opis" class="form-control" />
                <span asp-validation-for="Ogloszenie.opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Ogloszenia">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
